---
import Layout from '@layouts/base.astro'
import { baseUrl } from '@utils/base-url'

import type { Anime } from '../types'
import { reduceString } from '@utils/reduce-string'

import '@styles/fade-out.css'

import AnimeBackground from '@components/anime-info/anime-background.astro'
import AnimeInfo from '@components/anime-info/anime-data/anime.astro'

const getAnimeData = async () => {
  try {
    const animeData = await fetch(
      `${baseUrl}/api/getAnime?slug=${Astro.params.slug}`,
      { cache: 'force-cache' }
    )
      .then((res) => res.json())
      .then((data) => data.anime)
    return animeData
  } catch (error) {
    console.error(error)
    return null
  }
}

const animeData = await getAnimeData()

if (!animeData) {
  return Astro.redirect('/404', 301)
}

const {
  title,
  image_large_webp,
  image_webp,
  banner_image,
  synopsis,
} = animeData as Anime

const description = reduceString(synopsis, 200) || 'No description available'
---

<Layout description={description} image={image_large_webp} title={title}>
  <section class="mt-24 flex flex-col gap-8 p-4 text-white md:mx-20 xl:mx-40">
    <AnimeBackground
      banner_image={banner_image}
      image_webp={image_webp}
      title={title}
    />
    <AnimeInfo animeData={animeData} />
  </section>
</Layout>
