---
import Layout from '@layouts/base.astro'
import { baseTitle } from '@utils/base-url'
import { Formulary } from 'domains/auth/components/formulary'
const title = `Sign Up - ${baseTitle}`
const description =
  'Join AniDev today and unlock access to thousands of anime series and movies. Get personalized recommendations, create watchlists, and connect with fellow anime enthusiasts.'
const action = '/api/auth/signup'
const bgImage = '/sign-up.webp'
const step = Astro.url.searchParams.get('step') ?? ''
---

<Layout title={title} description={description}>
  <section class="mt-20 h-full w-full md:mt-0">
    <Formulary
      client:load
      title={'Sign Up'}
      action={action}
      bgImage={bgImage}
      step={step}
    />
  </section>
</Layout>
