---
import { Formulary } from '@components/auth/formulary'
import Layout from '@layouts/base.astro'
const title = 'Sign Up'
const action = '/api/auth/signup'
const bgImage = '/sign-up.webp'
const step = Astro.url.searchParams.get('step') ?? ''
---

<Layout title={title}>
  <section class="mt-20 h-full md:mt-0">
    <Formulary
      client:only
      title={title}
      action={action}
      bgImage={bgImage}
      step={step}
    />
  </section>
</Layout>
