---
import { Formulary } from '@components/auth/formulary'
import { baseTitle } from '@utils/base-url'
import Layout from '@layouts/base.astro'
const title = `Sign In - ${baseTitle}`
const action = '/api/auth/signin'
const bgImage = '/sign-in.webp'
---

<Layout title={title}>
  <section class="mt-20 h-full w-full md:mt-0">
    <Formulary client:only title={title} action={action} bgImage={bgImage} />
  </section>
</Layout>
