---
import { reduceSynopsis } from '@utils/reduce-synopsis'
import { Image } from 'astro:assets'
import type { AnimeEpisode } from 'types'
interface Props {
  episodes: AnimeEpisode[]
  slug: string
  image_webp?: string
  synopsis?: string
  context: string
  currentEpisode?: number
}
const { episodes, slug, image_webp, synopsis, context, currentEpisode } =
  Astro.props
---

<section
  class={context === 'anime-info' ? 'mx-auto mt-20' : '  overflow-x-hidden'}
>
  {
    context === 'anime-info' && (
      <h2 class="mb-20 text-pretty text-2xl font-bold text-gray-900">
        Episodes
      </h2>
    )
  }

  <ul
    class={context === 'anime-info'
      ? 'grid w-full grid-cols-1 gap-6 p-2 xl:grid-cols-2 max-h-96 overflow-y-auto'
      : ' grid gap-4 p-2 md:grid-cols-2 xl:grid-cols-1 md:mt-12 grid-cols-1 overflow-y-auto max-h-64 md:max-h-full '}
  >
    {
      episodes.map(
        ({ episode_id, title, description, image_url, anime_mal_id }) => (
          <a
            href={`/watch/${slug}_${anime_mal_id}?ep=${episode_id}`}
            class={`group flex w-full flex-row gap-4 rounded-lg p-2 transition-all duration-300 ease-in-out md:hover:scale-[1.01] ${currentEpisode === episode_id ? 'bg-blue-300 hover:bg-blue-400' : 'md:hover:bg-gray-300'}`}
          >
            <picture class="aspect-[16/9] w-20 md:w-60">
              <Image
                src={image_url ?? image_webp}
                alt={title ?? `Episodio ${episode_id}`}
                loading="lazy"
                width={225}
                height={330}
                quality={10}
                class="aspect-[16/9] h-full w-full rounded-md object-cover object-top"
              />
            </picture>
            <div class="flex w-full flex-col gap-2">
              <h3 class="text-pretty text-xl font-bold text-gray-900 transition-all duration-300 ease-in-out md:group-hover:text-zinc-100">
                {title ?? `Episodio ${episode_id}`}
              </h3>
              <p class="w-full text-sm text-gray-800">
                {description ?? reduceSynopsis(synopsis, 50)}
              </p>
            </div>
          </a>
        )
      )
    }
  </ul>
</section>
