---
import {
  createImageUrlProxy,
  createDynamicBannersUrl,
  baseUrl,
  reduceSynopsis,
  normalizeString,
} from '@utils'
import { animeBanners } from '@pages/index.astro'
import { Image } from 'astro:assets'

const getBanerUrl = async () => {
  const bannerUrl = createDynamicBannersUrl(1)
  const response = await fetch(`${baseUrl}${bannerUrl}`).then((res) =>
    res.json()
  )
  const anime = response.anime[0]
  if (!anime || animeBanners.includes(anime.mal_id)) {
    return await getBanerUrl()
  }

  animeBanners.push(anime.mal_id)
  console.log(animeBanners)
  return {
    imageUrl: anime.banner_image,
    title: anime.title,
    synopsis: anime.synopsis,
    mal_id: anime.mal_id,
  }
}
console.log(animeBanners)
const { imageUrl, title, synopsis, mal_id } = await getBanerUrl()
const bannerUrl = createImageUrlProxy(imageUrl, '1080', '20', 'webp')
const placeholderImageUrl = createImageUrlProxy(imageUrl, '25', '1', 'webp')
const slug = normalizeString(title)
---

<section class="relative mx-auto flex flex-row items-center">
  <a
    href={`/${slug}_${mal_id}`}
    class="group h-full w-full transition-all duration-200 ease-in-out hover:opacity-95"
    aria-label={`View details for ${title}`}
    style={{
      backgroundImage: `url(${placeholderImageUrl})`,
      backgroundPosition: 'center',
      backgroundSize: 'cover',
      backgroundRepeat: 'no-repeat',
    }}
  >
    <Image
      src={bannerUrl}
      alt="Anime Banner"
      loading="lazy"
      quality={10}
      class="aspect-[1080/500] h-full w-full object-cover object-center md:aspect-[1080/300]"
      width={1080}
      height={300}
    />

    <div
      class="absolute inset-0 bg-gradient-to-b from-transparent to-black/70 opacity-0 transition-all duration-200 ease-in-out group-hover:opacity-100"
    >
    </div>
  </a>
  <div
    class="absolute bottom-0 right-0 z-10 mx-auto flex h-full w-full flex-col justify-between gap-4 rounded-lg bg-black/30 p-2 md:m-4 md:h-auto md:max-w-80"
  >
    <h2 class="text-center text-xl font-bold text-white md:text-2xl">
      {title}
    </h2>
    <p class="text-xs text-white md:text-sm">
      {reduceSynopsis(synopsis, 100)}
    </p>
    <a
      href={`/watch/${slug}_${mal_id}`}
      class="flex w-full items-center justify-center rounded-lg bg-blue-400 px-4 py-2 text-sm text-white hover:bg-blue-500 md:text-base"
    >
      View Now
    </a>
  </div>
</section>
