---
import PlayIcon from '@icons/play-icon.astro'
import AnimeTag from '@components/anime-tag.astro'
import { getAnimeType } from '@utils'
import { normalizeString } from '@utils'
import type { Anime } from 'types'

interface Props {
  anime: Anime
  context?: string
}

const { anime, context } = Astro.props
const { title, image_large_webp, mal_id, type } = anime

const slug = normalizeString(title)
const animeType = getAnimeType(type)
---

<article class="group relative transition-transform duration-200 ease-in-out">
  <a
    href={`/${slug}_${mal_id}?context=${context}`}
    class="m-[10px] flex h-auto w-[160px] flex-col items-center rounded-lg p-2 shadow-md transition-shadow duration-200 ease-in-out group-hover:shadow-xl"
    aria-label={`View details for ${title}`}
  >
    <img
      src={image_large_webp}
      alt={title}
      class="aspect-[225/330] w-full rounded-lg transition-all ease-in-out group-hover:scale-105"
      loading="lazy"
      width="225"
      height="330"
      transition:name={`${slug}_${mal_id}_${context}`}
    />
    <h3
      class="mt-2 max-w-32 truncate text-sm font-semibold text-gray-900 transition-opacity duration-200 ease-in-out group-hover:opacity-0"
      aria-hidden="true"
    >
      {title}
    </h3>
    <a
      href={`/play/${slug}?ep=1`}
      class="absolute bottom-3 left-0 right-0 z-10 flex w-full items-center justify-center text-blue-500 opacity-0 transition-opacity duration-200 ease-in-out group-hover:opacity-100"
      aria-label={`Play first episode of ${title}`}
    >
      <PlayIcon />
    </a>
    <AnimeTag
      tag={animeType}
      type={animeType}
      style="absolute bottom-14 left-5"
    />
  </a>
</article>
