---
import AnimeDetails from '@components/anime-info/anime-data/anime-details.astro'
import { ShareButton } from '@components/buttons/share-button'
import { WatchAnimeButton } from '@components/buttons/watch-anime'
import { baseUrl } from '@utils/base-url'
import type { Anime } from 'types'
interface Props {
  animeData: Anime
}

const { animeData } = Astro.props
const { mal_id, title, image_large_webp } = animeData

const url = `${baseUrl}/${Astro.params.slug}`
const watchNowUrl = `/watch/${mal_id}_${mal_id}`
const shareText = `Watch ${title} on AniDev`
---

<aside class="mx-auto flex w-full max-w-72 flex-col gap-8">
  <figure class="mx-auto aspect-[225/330] h-auto w-full rounded-lg md:mx-0">
    <img
      src={image_large_webp}
      alt={`Portada oficial de ${title}`}
      class="aspect-[225/330] h-auto w-full rounded-lg transition-all ease-in-out"
      fetchpriority="high"
      loading="lazy"
    />
  </figure>
  <div class="flex flex-row gap-4">
    <WatchAnimeButton client:visible url={watchNowUrl} />
    <ShareButton client:visible title={title} url={url} text={shareText} />
  </div>
  <AnimeDetails animeData={animeData} />
</aside>
