---
import AnimeHeader from '@components/anime-info/anime-data/anime-header.astro'
import AnimeNavBar from '@components/anime-info/anime-data/anime-nav-bar.astro'
import AnimeDescription from '@components/anime-info/anime-data/anime-description.astro'
import AnimeAside from './anime-aside.astro'
import AnimeNumbers from '@components/anime-info/anime-data/anime-numbers.astro'
import type { Anime } from 'types'
import { slide } from 'astro:transitions'
import AnimeTrailer from '@components/anime-info/anime-trailer.astro'

interface Props {
  animeData: Anime
}

const { animeData } = Astro.props
const {
  title,
  image_large_webp,
  banner_image,
  synopsis,
  year,
  trailer_url,
  rating,
  score,
  type,
  genres,
  duration,
} = animeData
---

<article class="anime-info-container flex w-full flex-row gap-4 md:gap-20">
  <section class="flex w-full flex-col gap-10 text-white">
    <AnimeHeader title={title} />

    <AnimeNavBar genres={genres} rating={rating} type={type} />

    <AnimeNumbers score={score} year={year} duration={duration} />

    <AnimeDescription synopsis={synopsis} />
    
    <AnimeTrailer
      trailer_url={trailer_url}
      banner_image={banner_image}
      image_large_webp={image_large_webp}
      title={title}
    />
  </section>

  <section
    class="mx-auto flex w-full max-w-96 flex-col justify-between md:flex-row"
    transition:animate={slide({ duration: '0.4s' })}
  >
    <AnimeAside animeData={animeData} />
  </section>
</article>
