---
import AnimeHeader from '@components/anime-info/anime-data/anime-header.astro'
import AnimeGenresBar from '@components/anime-info/anime-data/anime-genres-bar.astro'
import AnimeDescription from '@components/anime-info/anime-data/anime-description.astro'
import AnimeCover from '@components/anime-info/anime-data/anime-cover.astro'
import { AnimeNavBar } from '@components/anime-info/anime-data/anime-nav-bar'
import type { Anime } from 'types'
import { slide } from 'astro:transitions'
import AnimeTrailer from '@components/anime-info/anime-trailer.astro'
import AnimeBackground from '@components/anime-info/anime-background.astro'
import AnimeDetails from './anime-details.astro'

interface Props {
  animeData: Anime
}

const { animeData } = Astro.props
const {
  title,
  image_large_webp,
  banner_image,
  synopsis,
  year,
  trailer_url,
  rating,
  score,
  type,
  genres,
  duration,
} = animeData
---

<article
  class="anime-info-container mt-28 flex w-full flex-col gap-16 md:mt-75 md:gap-20"
>
  <AnimeBackground
    banner_image={banner_image}
    image_webp={image_large_webp}
    title={title}
  />
  <section
    class="flex w-full flex-col-reverse items-start gap-20 text-white md:flex-row z-10"
  >
    <AnimeCover animeData={animeData} />
    <div class="flex w-full flex-col gap-6">
      <AnimeHeader title={title} />
      <AnimeGenresBar genres={genres} rating={rating} type={type} />

      <div>
        <AnimeNavBar client:only />
      </div>
    </div>
  </section>

  <AnimeDescription synopsis={synopsis} />

  <AnimeDetails animeData={animeData} />
</article>
