---
import '@shared/styles/global.css'
import { ClientRouter } from 'astro:transitions'
import { SearchBar } from '@search/components/search-global/search-bar'
import Footer from '@shared/components/layout/footer.astro'
import { NavBar } from '@shared/components/layout/nav-bar/nav-bar'
import { LoadWindowWidth } from '@shared/components/ui/load-window-width'
import { ProgressBar } from '@shared/components/ui/progres-bar'
import { createMetadata } from '@shared/utils/create-metadata'
import {  baseUrl } from '@shared/utils/base-url'
import { LoadUserPrefences } from '@user/components/user-settings/load-user-preferences'
import { AstroFont } from 'astro-font'
import '@shared/styles/fade-out.css'
import { MusicPlayerContainer } from '@music/components/music-player/music-player-container'
import { AsideNav } from '@shared/components/layout/aside'
import { ModalContainer } from '@shared/components/modal/modal-container'
import { CustomToaster } from '@shared/components/ui/custom-toaster'

const { animeId, title, description, image, themeId, characterId, artistName } =
  Astro.props

const { title : metaTitle, description: metaDesc, image: metaImage } = await createMetadata({
  title,
  description,
  image,
  themeId,
  characterId,
  artistName,
  animeId,
}) 

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="google-site-verification"
      content="MMmywKMxZRfBscGxXQPHrZB_8q2Gre3c8Lb4VglQ3Lw"
    />

    <meta name="description" content={metaDesc} />
    <meta property="og:image" name="og:image" content={metaImage} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDesc} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content={metaDesc} />
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:image" content={metaImage} />
    <meta name="twitter:site" content={baseUrl} />
    <meta
      http-equiv="Content-Security-Policy"
      content="
    default-src 'self';
    connect-src 'self' data: blob: https://a.animethemes.moe https://v.animethemes.moe  https://i.ytimg.com https://o4510429009674240.ingest.us.sentry.io;
    script-src
      'self'
      'unsafe-inline'
      https://cdn.jsdelivr.net
      https://www.gstatic.com
      http://www.gstatic.com;
    frame-src 'self' https://www.youtube.com/ https://www.youtube-nocookie.com/;
    style-src 'self' 'unsafe-inline';
    media-src 'self' blob: https://a.animethemes.moe https://v.animethemes.moe;
    font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com;
    img-src
      'self'
      data:
      blob:
      https://i.ytimg.com
      https://coffee-advanced-tern-335.mypinata.cloud
      https://pub-92474f7785774e91a790e086dfa6b2ef.r2.dev
      https://lh3.googleusercontent.com/
      https://anidev.app
      https://www.youtube.com/;
    worker-src 'self' blob:;
  "
    />

    <AstroFont
      config={[
        {
          src: [],
          name: 'Nunito',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap&',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
      ]}
    />
    <link rel="canonical" href={Astro.url.href} />
    <title>{metaTitle}</title>
    <ClientRouter />
  </head>
  <body>
    <div id="modal-root"></div>
    <div
      id="app"
      class="bg-Primary-950 text-Primary-50 no-scrollbar max-w-[100dvw] overflow-x-hidden overflow-y-scroll"
    >
      <aside class="h-16 [grid-area:aside] md:h-full">
        <AsideNav client:load />
      </aside>
      <header class="h-full max-w-[100dvw] [grid-area:header]">
        <NavBar client:load />
        <ProgressBar client:load />
      </header>

      <SearchBar client:only visible={false} />
      <LoadUserPrefences client:load />
      <LoadWindowWidth client:load />

      <main
        id="layout-player-container"
        class="relative flex max-w-[100dvw] flex-col [grid-area:main]"
      >
        <MusicPlayerContainer
          client:idle
          transition:persist
          className="col-start-1 row-start-1"
        />
        <slot />
        <CustomToaster client:idle />
      </main>
      <Footer />
      <ModalContainer client:idle />
    </div>
  </body>
</html>
