---
import { ClientRouter } from 'astro:transitions'
import Footer from '@components/footer.astro'
import { LoadUserPrefences } from '@components/load-user-preferences'
import { LoadWindowWidth } from '@components/load-window-width'
import NavBar from '@components/nav-bar/nav-bar.astro'
import { Toaster } from '@pheralb/toast'
import { baseTitle, baseUrl } from '@utils/base-url'
import { getSessionUserInfo } from '@utils/get_session_user_info'
import { AstroFont } from 'astro-font'
import '@styles/global.css'
import '@styles/fade-out.css'
import '@styles/anime-banner.css'
interface Props {
  animeId?: string
  title?: string
  description?: string
  image?: string
}

const { animeId, title, description, image } = Astro.props

let metaTitle = title || `${baseTitle}`
let metaDesc =
  description ||
  'AniDev is a modern anime streaming and exploration platform. It offers dynamic experiences for discovering, searching, and enjoying top animes.'
let metaImage = image || `${baseUrl}/og-image.png`

if (animeId) {
  try {
    const response = await fetch(
      `${baseUrl}/api/getAnimeMetadatas?id=${animeId}`
    )
    if (response.ok) {
      const metadata = await response.json()
      metaTitle = metadata.title
      metaDesc = metadata.description
      metaImage = metadata.image
    }
  } catch (error) {
    console.error('Error al obtener metadatos pre-renderizados:', error)
  }
}
const userInfo = await getSessionUserInfo({ request: Astro.request })
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDesc} />
    <meta property="og:image" name="og:image" content={metaImage} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDesc} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content={metaDesc} />
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:image" content={metaImage} />
    <meta name="twitter:site" content={baseUrl} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {userInfo && <link rel="preload" href={userInfo?.avatar} as="image" />}
    <AstroFont
      config={[
        {
          src: [],
          name: 'Nunito',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
      ]}
    />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="canonical" href={baseUrl} />
    <title>{metaTitle}</title>
    <ClientRouter />
  </head>
  <div
    id="app"
    class="no-scrollbar bg-Primary-950 text-Primary-50 overflow-x-hidden overflow-y-scroll"
  >
    <LoadUserPrefences userInfo={userInfo} client:load />
    <LoadWindowWidth client:load />
    <header class="[grid-area:header]">
      <NavBar />
    </header>
    <main class="mx-auto w-full max-w-[100dvw] [grid-area:main]">
      <slot />
    </main>
    <Toaster
      client:load
      theme="dark"
      position="bottom-right"
      toastOptions={{
        animationOnClose: 'swipe',
      }}
    />
    <Footer />
  </div>
</html>
<style is:global>
#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
}
.navbar-animation {
  animation: enchanted-header auto both;
  animation-range: 0 300px;
  animation-timeline: scroll(root block);
}
@keyframes enchanted-header {
  to {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
  }
}
</style>