---
import Footer from '@components/footer.astro'
import NavBar from '@components/nav-bar.astro'
import { ClientRouter } from 'astro:transitions'
import '@styles/custom-scrollbar.css'
const [title] = Astro.params.slug?.split('_') ?? ['', '']
const episode = new URLSearchParams(Astro.url.search).get('ep')
const baseTitle =
  'Animeflix - A friendly and simply way to enjoy a big variety of quality anime.'
const seoTitle = (title: string | null, episode: string | null) => {
  if (!episode && !title) return baseTitle
  if (!episode) return `${title} - ${baseTitle}`
  return `${title} - Episodio ${episode} - ${baseTitle}`
}
interface Props {
  description?: string
  image?: string
}
const { description, image } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description ?? ''} />
    <meta
      property="og:image"
      name="og:image"
      content={image ?? 'https://animeflix.vercel.app/og-image.jpg'}
    />
    <meta property="og:title" content={seoTitle(title, episode)} />
    <meta
      property="og:description"
      content={description ??
        'A friendly and simply way to enjoy a big variety of quality anime.'}
    />
    <meta property="og:type" content="website" />
    <meta
      name="twitter:card"
      content={image ? 'summary_large_image' : 'summary'}
    />
    <meta
      name="twitter:description"
      content={description ??
        'A friendly and simply way to enjoy a big variety of quality anime.'}
    />
    <meta name="twitter:title" content={seoTitle(title, episode)} />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="preconnect" href="https://unpkg.com" />
    <title>{seoTitle(title, episode)}</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
      defer></script>
    <script
      src="https://unpkg.com/lite-iframe@0.3.0/dist/lite-iframe.esm.js"
      type="module"
      defer></script>
    <ClientRouter />
  </head>
  <body>
    <div id="app" class="custom-scrollbar overflow-auto bg-base">
      <header class="[grid-area:header]">
        <NavBar />
      </header>
      <main class="mx-auto w-full max-w-[calc(100dvw-8px)] [grid-area:main]">
        <slot />
      </main>
      <footer class="[grid-area:footer]">
        <Footer />
      </footer>
    </div>
  </body>
</html>

<style is:global>
  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100dvh;
    width: 100dvw;
  }
</style>
