---
import Footer from '@components/footer.astro'
import NavBar from '@components/nav-bar.astro'
import { ClientRouter } from 'astro:transitions'
import '@styles/no-scrollbar.css'
import '@styles/global.css'

const episode = new URLSearchParams(Astro.url.search).get('ep')
const baseTitle = 'Animeflix - Watch anime online free'
const { description, image, title } = Astro.props

interface Props {
  description?: string
  image?: string
  title?: string
}
const SEO_DESCRIPTION =
  'Animeflix is a modern anime streaming and exploration platform. It offers dynamic experiences for discovering, searching, and enjoying top animes.'

const seoTitle = (title: string | null, episode: string | null) => {
  if (!episode && !title) return baseTitle
  if (!episode) return `${title} - ${baseTitle}`
  return `${title} - Episodio ${episode} - ${baseTitle}`
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description ?? SEO_DESCRIPTION} />
    <meta
      property="og:image"
      name="og:image"
      content={image ?? 'https://animeflix.vercel.app/og-image.jpg'}
    />
    <meta property="og:title" content={seoTitle(title ?? '', episode)} />
    <meta property="og:description" content={description ?? SEO_DESCRIPTION} />
    <meta property="og:type" content="website" />
    <meta
      name="twitter:card"
      content={image ? 'summary_large_image' : 'summary'}
    />
    <meta name="twitter:description" content={description ?? SEO_DESCRIPTION} />
    <meta name="twitter:title" content={seoTitle(title ?? '', episode)} />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="canonical" href="https://animeflix.vercel.app/" />
    <title>{seoTitle(title ?? '', episode)}</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
      defer></script>
    <ClientRouter />
  </head>
  <body>
    <div
      id="app"
      class="no-scrollbar bg-base overflow-x-hidden overflow-y-auto"
    >
      <header class="[grid-area:header]">
        <NavBar />
      </header>
      <main class="mx-auto w-full max-w-[100dvw] [grid-area:main]">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100dvh;
    width: 100dvw;
  }
</style>
